<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="ROMIX">
		<item label="Web browser">
			<action name="Execute">
				<execute>x-www-browser</execute>
			</action>
		</item>
		<item label="IceDove">
			<action name="Execute">
				<execute>icedove</execute>
			</action>
		</item>
		<item label="Terminal emulator">
			<action name="Execute">
				<execute>x-terminal-emulator</execute>
			</action>
		</item>
		<item label="PW Safe">
			<action name="Execute">
				<execute>pwsafe</execute>
			</action>
		</item>
		<separator/>
		<item label="Calculator">
			<action name="Execute">
				<execute>galculator</execute>
			</action>
		</item>
		<item label="LibreOffice">
			<action name="Execute">
				<execute>libreoffice</execute>
			</action>
		</item>
		<item label="Evince">
			<action name="Execute">
				<execute>evince</execute>
			</action>
		</item>
		<item label="VLC">
			<action name="Execute">
				<execute>vlc</execute>
			</action>
		</item>
		<separator/>
		<item label="Parcellite">
			<action name="Execute">
				<execute>parcellite</execute>
			</action>
		</item>
		<item label="BlueTooth">
			<action name="Execute">
				<execute>bluetooth-applet</execute>
			</action>
		</item>
		<item label="Shutter">
			<action name="Execute">
				<execute>shutter</execute>
			</action>
		</item>
		<separator/>
		<item label="Nautilus">
			<action name="Execute">
				<execute>nautilus</execute>
			</action>
		</item>
		<item label="FileZilla">
			<action name="Execute">
				<execute>filezilla</execute>
			</action>
		</item>
		<item label="TightVncViewer">
			<action name="Execute">
				<execute>xtightvncviewer</execute>
			</action>
		</item>
		<separator/>
		<item label="Kill Wifi">
			<action name="Execute">
				<execute>sudo rfkill block wifi</execute>
			</action>
		</item>
		<item label="Kill BlueTooth">
			<action name="Execute">
				<execute>sudo rfkill block bluetooth</execute>
			</action>
		</item>
		<item label="Suspend">
			<action name="Execute">
				<execute>sudo pm-suspend</execute>
			</action>
		</item>
		<item label="Lock">
			<action name="Execute">
				<execute>/etc/romix/screen-lock.sh</execute>
			</action>
		</item>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
