#https://github.com/jukil/aclidswitch/blob/master/98-aclidswitch.rules
# Settings on battery
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_NAME}=="AC", ENV{POWER_SUPPLY_ONLINE}=="0", RUN+="/etc/romix/power.sh battery"

# Settings on AC
SUBSYSTEM=="power_supply", ENV{POWER_SUPPLY_NAME}=="AC", ENV{POWER_SUPPLY_ONLINE}=="1", RUN+="/etc/romix/power.sh ac"
